<nav class="navbar">
<div class="logo">InnerYou</div>

<div>
    <ul class="navbar-links">
    <li><a routerLink="/home" routerLinkActive="active"> Home </a></li>
    <li><a routerLink="/quiz" routerLinkActive="active"> Quiz </a></li>
    <li><a routerLink="/about" routerLinkActive="active"> About Us </a></li>
    <li>
        <!-- <button (click)="toggleTheme()" class="theme-toggle" title="Toggle Theme">
          <i class="fa-solid fa-sun" *ngIf="isDarkMode" (click)="toggleTheme()"></i>
          <i class="fa-sharp fa-solid fa-moon" *ngIf="!isDarkMode" (click)="toggleTheme()"></i>
          
        </button> -->
        <button class="theme-toggle-btn" (click)="toggleTheme()">
  <i [class]="isDarkMode ? 'fa-solid fa-sun' : 'fa-solid fa-moon'"></i>
</button>

      </li>
    </ul>
</div>
</nav>
