.quiz-container{
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background: #1e1e1e;
  backdrop-filter: blur(12px);
  border-radius: 1.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2rem;
  color: #222;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 0.8s ease-in-out;
  transition: background 0.3s ease, color 0.3s ease;
  animation: fadeInUp 0.5s ease;
}
.question-text{
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;

}
.progress{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #aaa;
    text-align: center;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.option-btn{
    color: #2c2c2c;
    padding: 14px 22px;
    margin: 0.5rem;
    font-size: 18px;
    background: linear-gradient(to right, #fdfbfb, #ebedee);
    border: 1px solid #444;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
}

.option-btn:hover{
    background-color: #3d3d3d;
    transform: translateY(-3px) scale(1.05);
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    color: #90ee90;

}

.option-btn:active{
    transform: scale(0.98);
    background-color: #ffd54f;
}

@keyframes fadeIn {
    from{ opacity: 0; transform: translateY(10px);}
    to{ opacity: 1; transform: translateY(0);}
    
}



