:root{
    --bg: #FFFDD0;
    --card: #7075fa;
    --text: #70fa92;
    --primary: #007bff;
    --accent: #ff4081;
}




.dark-mode{
    background-color: #121212;
    color: #f1f1f1;
}

.dark-mode .quiz-container,
.dark-mode .result-card,
.dark-mode .navbar{
    background-color: #1e1e1e;
    color: #f1f1f1;
}

.dark-mode .option-btn{
    background-color: #333;
    color: #555;
}
.dark-mode .option-btn:hover{
    background-color: #555;
}

.body .dark-mode{
    background-color: #121212;
    color: #f0f0f0;
}